.pagAdd {
    
    margin: auto;
    max-width: 800px;
    height: 100%;
    .addHeader {
        min-height: 60px;
        background-color: $secondaryColor;
        color: $primaryColor;
        display: flex;
        align-items: center;
        /* justify-content: center;*/
        .material-icons {
            padding-left: 10px;
            padding-right: 10px;
            color: $primaryColor;
        }
    }
    .addAdded {
    }
    .allSongs {
        color: white;
        .blockList {
            display: grid;
            grid-template-columns: 1fr 0.1fr;
            align-items: center;
            
            min-height: 40px;
            border-bottom: solid gray 1px;
            min-width: 100px;
           

        }
        .material-icons {
            color: $primaryColor;
            cursor: pointer;
        }
    }
}
